<ul>
  
  <li>
    <?php
    $index = array('controller' => 'files', 'action' => 'index');
    echo '&raquo; ' . $this->Html->link('Files', $index);
    ?>
  </li>
  
  <li>
    <?php
    $index = array('controller' => 'photos', 'action' => 'index');
    echo '&raquo; ' . $this->Html->link('Photos', $index);
    ?>
  </li>
</ul>